@font-face {
    font-family: 'HorrorNightDrip';
    src: url('../HorrorNightDrip-K7Jap.ttf') format('truetype');
}

@font-face {
    font-family: 'GrimsAcid';
    src: url('../GrimsAcid-8MEKD.otf');
}

@font-face {
    font-family: 'Okguys';
    src: url('../Okguys-RpmPW.ttf');
}

.home-scrolljack-container {
    min-height: 400vh; 
    position: relative;
    overflow: hidden;
  }
  
  #landing-page-layers img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .abs-horizontal-center {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .abs-top {
    top: 0;
  }
  
  #splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .png-container {
    position: relative;
    width: 100%;
    max-width: 750px; 
    margin: 0 auto; 
}

.background-png {
    width: 100%;
    height: auto;
    display: block;
}

.home-container {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 70%; 
    max-width: 500px;
    text-align: center;
}

.home-container h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    color:#3e7c3f;
    font-family: 'Okguys', sans-serif;
    line-height: 1;
    margin: 5px 0; 
    word-break: break-word;
    text-align: center;
}

.home-container .first-line{
    font-size: clamp(.8rem, 2.5vw, 1.5rem); 
    color: #000000;
    font-family: 'GrimsAcid', sans-serif;
    line-height: 1;
}

.home-container .second-line {
    font-size: clamp(.6rem, 2.5vw, 1rem); 
    color: #3b3939;
    display: block;
    padding-top: 15px;
    font-family: 'HorrorNightDrip', sans-serif;
}