.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  padding: 10px;
  max-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1); 
  transform: translateY(0); 
}

.navbar.hidden {
  transform: translateY(-100%); 
}

.navbar.show {
  transform: translateY(0);
}

.navbar-container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.burger-icon {
  width: 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-right: 20px;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
  color: white;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}
.navbar-links a:hover {
  color: #bae7ab;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  background-color: #444;
  padding: 10px;
  border-radius: 5px
}

.dropdown-container {
  position: relative;
}

@media (max-width: 768px) {
  .navbar {
      padding: 10px;
  }

  .navbar-container {
      flex-direction: column; 
      align-items: flex-start; 
  }

  .navbar-links {
      flex-direction: column; 
      width: 100%; 
      gap: 15px; 
      max-height: 80vh;
  }
  .navbar.show {
    padding: 10px 0px;
  }
}